:root {
  --text-selection-color: rgba(116, 139, 248, 0.25);
  --primary: #2060df;
  --primary-background: #2060df;
  --primary-underline: rgba(32, 96, 223, 0.5);
  --primary-hover: #184eb8;
  --primary-hover-background: #1d59d0;
  --primary-focus: rgba(116, 139, 248, 0.25);
  --primary-inverse: #fff;
  --on-background: #213547;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--on-background);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary);
  color: var(--primary-inverse);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--primary-hover);
}

