@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #076ad4;
  --primary-hover: #0056b3;
  --secondary-color: #6c757d;
  --secondary-hover: #5a6268;
  --success-color: #28a745;
  --success-hover: #1e7e34;
  --info-color: #17a2b8;
  --info-hover: #117a8b;
  --warning-color: #ffc107;
  --warning-hover: #d39e00;
  --danger-color: #dc3545;
  --danger-hover: #bd2130;
  --light-color: #f8f9fa;
  --light-hover: #dae0e5;
  --dark-color: #343a40;
  --dark-hover: #1d2124;
}




